* {
  box-sizing: border-box;
}
html {
  font-size: 66.5%;
}
body {
  font-size: 1.6rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  @media (min-width: 640px) {
    width: 50%;
  }
  nav {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background: lightskyblue;
    margin-bottom: 1.5rem;
    border: 1px solid black;
    a {
      width: 100%;
      padding: 1rem;
      text-decoration: none;
      color: black;
      border-right: 1px solid black;
      &:hover {
        background: #6ca4c8;
      }
      &.active {
        cursor: default;
        background: white;
      }
      &:last-child {
        border-right: initial;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 0.5rem;
    width: 75%;
    margin: 0 auto;
    padding: 1rem;
    label {
      margin: 0.5rem auto;
      display: flex;
      span {
        width: 5rem;
        text-align: right;
        font-size: 2rem;
      }
      input {
        width: 20rem;
        margin-left: 1rem;
        padding: 0.2rem;
        font-size: 1.5rem;
      }
    }
    button {
      cursor: pointer;
      margin: 0 auto;
      margin-top: 1rem;
      padding: 0.8rem 1.5rem;
      outline: none;
      border: 1px solid black;
      border-radius: 0.5rem;
      background: lightskyblue;
      font-size: 1.5rem;
      &:hover {
        background: #6ca4c8;
      }
    }
  }
  .cardGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    .card {
      border: 1px solid lightgray;
      border-radius: 0.5rem;
      width: 45%;
      margin: 0.5rem;
      padding: 1rem 0;
      box-shadow: 0 0.5rem 0.5rem lightgray;
      p {
        padding: 0 1rem;
      }
    }
  }
}
